################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FuelHunterBot/v16
/FuelHunterBot/bin
/FuelHunterBot/obj
/FuelHunterBot/publish
/FuelHunterBot/Properties/PublishProfiles
